<%%= simple_form_for @<%= resource_name %>, :html => { :class => 'form-horizontal' } do |f| %>
  <%- columns.each do |column| -%>
  <%%= f.input :<%= column.name %> %>
  <%- end -%>
  <%- if ::SimpleForm::FormBuilder.instance_methods.include?(:wrapped_button) -%>
  <%%= f.button :wrapped, :cancel => <%= controller_routing_path %>_path %>
  <%- else -%>
  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                <%= controller_routing_path %>_path, :class => 'btn' %>
  </div>
  <%- end -%>
<%% end %>
