h1 <%= resource_name.titleize %>s
table class="table table-striped"
  thead
    tr
      th ID
      <%- unless columns.empty? -%>
      th
        = t("activerecord.attributes.<%= singular_controller_routing_path %>.<%= columns.first.name %>", :default => t("activerecord.labels.<%= columns.first.name %>", :default => "<%= columns.first.name.capitalize %>"))
      <%- end -%>
      th Created at
      th Actions
  tbody
    - @<%= plural_resource_name %>.each do |<%= resource_name %>|
      tr
        td= <%= resource_name %>.id
        <%- unless columns.empty? -%>
        td= link_to <%= resource_name %>.<%= columns.first.name %>, <%= singular_controller_routing_path %>_path(<%= resource_name %>)
        <%- end -%>
        td= <%= resource_name %>.created_at
        td
          = link_to "Show", <%= singular_controller_routing_path %>_path(<%= resource_name %>)
          = link_to "Edit", edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>)
          = link_to "Destroy", <%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"

= link_to "New", new_<%= singular_controller_routing_path %>_path, :class => 'btn btn-primary'
