<%%- model_class = @<%= resource_name %>.class -%>
<h1><%%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                               :default => "New #{model_class.model_name.human}") %></h1>
<%%= render :partial => 'form' %>
