- model_class = <%= resource_name.classify %>
.page-header
  h1=t '.title', :default => model_class.model_name.human.titleize

<%- columns.each do |column| -%>
p
  strong= model_class.human_attribute_name(:<%= column.name %>) + ':'
  br
  = @<%= resource_name %>.<%= column.name %>
<%- end -%>

= link_to t('.back', :default => t("helpers.links.back")), <%= controller_routing_path %>_path, :class => 'btn btn-default'
'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), :class => 'btn btn-default'
'
= link_to t('.destroy', :default => t("helpers.links.destroy")), <%= singular_controller_routing_path %>_path(@<%= resource_name %>), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
