<% if @breadcrumbs.present? %>
  <ul class="breadcrumb <%= options[:class] %>">
    <% separator = options[:separator].html_safe %>
    <% partial = (separator.present?) ? 'crumb_with_sep' : 'crumb' -%>
    <% @breadcrumbs[0..-2].each do |crumb| %>
      <%= render :partial => "twitter-bootstrap/#{ partial }", :locals => { :crumb => crumb, :separator => separator, :options => options } %>
    <% end %>
    <li class="<%= options[:active_class] %>">
      <%= @breadcrumbs.last[:name] %>
    </li>
  </ul>
<% end %>
