<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>"><%= yield(:title) || 'App' %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <%= yield :navbar_links %>
      </ul>
      <ul class="navbar-nav">
        <%= yield :navbar_extra %>
      </ul>
    </div>
  </div>
</nav>
