<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Brand</a>
      <p>
        " the mission "
      </p>
      <ul class="nav pull-right">
        <li><%= link_to "Link 1", "" %></li>
      </ul>
    </div>
  </div>
</div>
