doctype html
html lang="en"
  head
    meta charset="utf-8"
    title= content_for?(:title) ? yield(:title) : "<%= app_name %>"
    = csrf_meta_tags

    /! Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    /! Le styles
    css:
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    = stylesheet_link_tag "application", :media => "all"
    / Le fav and touch icons
    link href="images/favicon.ico" rel="shortcut icon"
    link href="images/apple-touch-icon.png" rel="apple-touch-icon"
    link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"
    link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"


  body
    .navbar.navbar-fixed-top
      .navbar-inner
        <%- if layout_type == "fluid" -%>
        .container-fluid
        <%- else -%>
        .container
        <%- end -%>
          a.btn.btn-navbar data-target=".nav-collapse" data-toggle="collapse"
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand href="#"<%= app_name %>
          .<%=container_class%>.nav-collapse
            ul.nav
              li= link_to "Link 1", "/path1"
              li= link_to "Link 2", "/path2"
              li= link_to "Link 3", "/path3"

    .<%= container_class %>
    <%- if layout_type == "fluid" -%>

      .row-fluid
        .span3
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Sidebar
              li= link_to "Link 1", "/path1"
              li= link_to "Link 2", "/path2"
              li= link_to "Link 3", "/path3"
        .span9
          = yield
    <% else %>
      .content
        .row
          .span9
            = yield
          .span1 &nbsp;
          .span3
            .well.sidebar-nav
              h3 Sidebar
              ul.nav.nav-list
                li.nav-header Sidebar
                li= link_to "Link 1", "/path1"
                li= link_to "Link 2", "/path2"
                li= link_to "Link 3", "/path3"
    <% end %>
      footer
        p &copy; Company 2012
    /!
      Le javascript
      \==================================================
    /! Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
