doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title= content_for?(:title) ? yield(:title) : "<%= app_name %>"
    = csrf_meta_tags
<% if cdn? -%>
<%= slim_tags(css_tag, "    ") %>
<% else -%>
    = stylesheet_link_tag <%= stylesheet_arguments %>, :media => "all"
<% end -%>

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container
        a.navbar-brand href="/" <%= app_name %>
        button.navbar-toggler type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
          span.navbar-toggler-icon
        #navbarNav.collapse.navbar-collapse
          ul.navbar-nav
            li.nav-item= link_to "Home", "/", class: "nav-link"

    .container.mt-4
      = bootstrap_flash
      = yield

      footer.mt-5.py-3.border-top
        p.text-body-secondary &copy; Company #{Time.current.year}

<% if cdn? -%>
<%= slim_tags(script_tags, "    ") %>
<% else -%>
    = javascript_include_tag <%= javascript_arguments %>
<% end -%>
